mixin delivery
  section.delivery(id="delivery")
    .container
      h2.delivery__title.title.title--h2 Топливо с доставкой
      .delivery__form.form
        form(action="https://echo.htmlacademy.ru/" method="POST")
          .form__wrapper
            .form__select-wrapper.form__input-wrapper
              label Вид топлива
              .custom-select
                .custom-select__top
                  span.custom-select__current ДТ
                  +icon("icon-arrow", 24, 24).custom-select__icon
                .custom-select__bottom
                  .custom-select__item ДТ
                  .custom-select__item АИ-95
                  .custom-select__item АИ-98
                  .custom-select__item ДТ
                  .custom-select__item АИ-95
                  .custom-select__item АИ-98
                  .custom-select__item ДТ
                  .custom-select__item АИ-95
                  .custom-select__item АИ-98
            .form__range-wrapper.form__input-wrapper.input-wrapper.input-wrapper--slider.range-slider
              label(for="custom-slider") Объем топлива
              .range-slider__wrapper
                input(type="number" id="current-value" name="current" value="1670").range-slider__current-value
                span литров
                input(type="range" id="custom-slider" name="volume" value="1670" min="50" max="5000" step="1").custom-slider
            .form__input-wrapper
              label(for="address") Место доставки
              input(type="text" id="address" name="place" required placeholder="Укажите место")
            .form__input-wrapper
              label(for="name2") Ваше имя
              input(type="text" id="name2" name="name" required placeholder="Иван")
            .form__input-wrapper
              label(for="phone2") Номер телефона
              input(type="tel" id="phone2" name="phone" required placeholder="+7 (___) ___-__-__")
          .form__order
            table
              tr
                th Итого
                th
              tr
                td(data-label="column-name") Стоимость топлива
                td(data-label="total-price") !{$totalPrice}
              tr
                td(data-label="column-name") Цена за литр:
                  p Цена и стоимость указаны ориентировочно. Точные цену и стоимость собщит наш менеджер при подтверждении заявки.
                td 45.50 ₽
              tr
                td(data-label="column-name") Выгода:
                  p При цене на АЗС  49.59 ₽  за литр, цены актуальны на  23.11.2020 г.
                td(data-label="profit")
            button(type="submit").form__submit.btn.btn--blue-bg Заказать топливо
