mixin steps(step)
  -
    const steps = [
      {
        title: "Оформление заявки",
        paragraph: ["Заполните заявку на сайте, укажите удобное для вас место приезда заправщика, сорт и количество топлива, которое хотите купить"],
        iconName: "icon-arrow2",
        time: "1-3 мин.",
        iconWidth: 64,
        iconHeight: 64,
        timeArrow: true,
      },
      {
        title: "Подтверждение заявки менеджером",
        paragraph: ["Дождитесь звонка нашего менеджера для уточнения условий заказа"],
        iconName: "icon-phone2",
        time: "1-3 мин.",
        iconWidth: 64,
        iconHeight: 64,
        timeArrow: true,
      },
      {
        title: "Заправка вашего автомобиля",
        paragraph: ["В назначенное время приедет заправщик и заправит автомобиль топливом.", "Если у заказчика есть действующий договор на топливные карты, то при оплате можно провести транзакцию через терминал. Переносное устройство есть у каждого заправщика"],
        iconName: "icon-gas",
        time: "30-90 мин.",
        iconWidth: 64,
        iconHeight: 64,
      }
    ]
  section.steps
    .container
      h2.steps__title.title.title--h2 Как мы работаем
      .steps__list
        each step in steps
          .steps__item
            +step(step)
