.delivery {
  padding-top: 72px;
  background-color: $color-snow;
  padding-bottom: 72px;

  &__title {
    margin: 0;
    margin-bottom: 32px;
  }

  .form__wrapper {
    flex-direction: column;
    width: 409px;
    margin-right: 71px;
  }

  .form__input-wrapper {
    width: 100%;
    margin-bottom: 14px;
  }

  .form__order {
    width: 638px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 37px;
    padding-bottom: 40px;
  }

  form {
    display: flex;

    table {
      margin-bottom: 16px;
    }

    table td {
      padding-top: 16px;
      padding-bottom: 10px;
      vertical-align: top;
      border-bottom: 1px solid $color-whisper;
    }

    table th {
      font-size: 24px;
      line-height: 29px;
      font-weight: 500;
      text-align: left;
      padding-bottom: 13px;
      border-bottom: 1px solid $color-whisper;
    }

    table td[data-label="column-name"] {
      width: 70%;

      p {
        margin: 0;
        margin-top: 11px;
        padding-right: 65px;
        font-size: 12px;
        line-height: 14.63px;
        color: $color-matterhorn;
      }
    }

    table tr td:last-child {
      text-align: right;
    }

    td[data-label="profit"] {
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }
  }
}
