.main-nav {
  margin-left: auto;
  display: flex;
  margin-top: 8px;

  &__list {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    margin-left: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 42px;
  }

  &__link--phone {
    margin-right: 35px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
  }

  &__link {
    color: $color-default-black;

    display: flex;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 12px;
      fill: none;
    }

    &.is-active {
      opacity: 0.6;
    }
  }

  &--top {
    margin-bottom: 8px;

    .main-nav__link--phone {
      color: $color-default-black;
    }
  }

  &--bottom {
    padding: 21px 0 19px;
    margin-right: auto;
    margin-left: 0;
    background-color: $color-snow;

    font-size: 13px;
    line-height: 16px;
    font-weight: 500;

    .main-nav__link {
      letter-spacing: 1.2px;
      svg {
        width: 20px;
        height: 20px;
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
}
