.reviews {
  padding-top: 84px;
  padding-bottom: 80px;
  background-color: $color-snow;

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }

  &__slider-container {
    position: relative;
    padding-top: 32px;
  }

  &__slider-slide {
    width: 545px;
    padding: 40px;
    min-height: 368px;
    background-color: $color-default-white;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }

  &__author {
    margin: 0;
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 18.29px;
    font-weight: 600;
  }

  &__post {
    margin: 0;
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 14.63px;
    font-weight: 500;
    max-width: 246px;
  }

  &__text {
    margin: 0;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 22.4px;
  }

  &__slider-nav {
    position: absolute;
    height: 56px;
    width: 128px;
    display: flex;
    justify-content: space-between;
    top: -45px;
    right: 0;
  }

  &__slide-link {
    color: $color-pacific-blue;
    font-size: 13px;
    line-height: 15.85px;
    font-weight: 600;
    margin-top: auto;
    display: block;
  }

  &__btn-more {
    margin: 0 auto;
    margin-top: 44px;
    width: 258px;
    display: block;
  }
}
