// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Project palette

$color-pacific-blue:                #098fcf;
$color-snow:                        #f9f9f9;
$color-dark-cerullean:              #043c77;
$color-light-grey:                  #d4d4d4;
$color-light-grey-2:                #d5d5d5;
$color-whisper:                     #e7e7e7;
$color-matterhorn:                  #565656;

$ff-placeholder:                    "montserrat", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
