//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Blocks

include ./blocks/steps
include ./blocks/benefits
include ./blocks/documents
include ./blocks/partners
include ./blocks/reviews
include ./blocks/price
include ./blocks/reviews
include ./blocks/order
include ./blocks/delivery

//- Mixins

include ./mixins/step
